pre[class*="language-"] {
    scrollbar-width: thin;
}

.shadow {
    filter: drop-shadow(20px 30px 4px #0f0f0f);
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #78E2A0;
}
